<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contato</h1>
            <p class="text-center lead">Crie ou edite seu contato</p>

            <%- include('includes/messages') %>

            <div class="row">
                <div class="col-md-8 mx-auto"> <!-- Adicionada a classe mx-auto para centralizar -->
                    <% if(contato._id) { %>
                        <form action="/contato/edit/<%= contato._id %>" method="POST">
                    <% } else{%>
                        <form action="/contato/register" method="POST">
                            <input type="hidden" value="<%= user._id %>" name="owner"> <!--Manda o ID do usuário dono do contato-->
                    <% } %>   
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input value="<%= contato.nome %>" type="text" class="form-control" id="inputNome" placeholder="Nome" name="nome">
                            </div>
                            <div class="form-group col-md-6">
                                <input value="<%= contato.sobrenome %>"type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" name="sobrenome">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input value="<%= contato.email %>" type="email" class="form-control" id="inputEmail" placeholder="email" name="email">
                            </div>
                            <div class="form-group col-md-6">
                                <input value="<%= contato.celular %>"type="tel" class="form-control" id="inputTel" placeholder="celular" name="celular">
                            </div>
                        </div>
                        <div class="form-group">
                            <input value="<%= contato.endereco %>"type="text" class="form-control" id="inputEndereco" placeholder="endereço" name="endereco">
                        </div>
                        <button type="submit" class="btn btn-dark">Salvar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>
